<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Author</title>
</head>
<body>
    <h1>Add Author</h1>
    <h2>Here you can add Author</h2>

    <form method="POST">
        {% csrf_token %}
        <input name="fullname" placeholder="fullname" required>

        <input name="born_date" placeholder="born date" required>

        <input name="born_location" placeholder="born location" required>

        <input name="description" placeholder="description" required maxlength="150">

        <button type="submit">SAVE</button>

    </form>
</body>
</html>