<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quotes</title>
    <meta charset="utf-8">
</head>
<body>
    {% if user.is_authenticated %}
    <p>Logged as {{ user. }}</p>
    
    <form action="/accounts/logout/" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}

    <form action="/login/" method="get">
        {% csrf_token %}
        <button type="submit">Login</button>
    </form>

    <form action="register/" method="get">
        <button type="submit">Register</button>
    </form>
    {% endif %}
    

<h1>Quotes</h1>

<br>

{% for quote in page_obj %}
<p> "" <strong><em>{{ quote.text }}</em></strong> "" </p>
    Author: 
    <strong>{{ quote.author.fullname }}</strong>

<p>
    Tag: 
    {% for tag  in quote.tags.all %}
        {{ tag.tag }}
    {% endfor %}
</p>

{% endfor %}

<a href="{% url 'add_author' %}">
    <button>Add Author</button>
</a>
<a href="{% url 'add_tag' %}">
    <button>Add Tag</button>
</a>
<a href="{% url 'add_quote' %}">
    <button>Add Quote</button>
</a>
</body>
<div>

{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}">
Previous
</a>
{% endif %}

<span>
Page {{ page_obj.number }}
</span>

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">
Next
</a>
{% endif %}

</div>

</html>
